.flex-grow { flex-grow: 1; }
.flex-nogrow { flex-grow: 0; }
.flex-shrink { flex-shrink: 1; }
.flex-noshrink { flex-shrink: 0; }
.flex-center { align-items: center; }
.flex-stretch { align-items: stretch; }

@for $i from 1 through 4 
{
    .p-#{$i} { padding: #{$i}px; }
    .m-#{$i} { margin: #{$i}px; }

    @each $k, $v in $sides {
        .p#{$k}-#{$i} { padding-#{$v}: #{$i}px; }
        .m#{$k}-#{$i} { margin-#{$v}: #{$i}px; }
    }
}

.rounded-0 { border-radius: 0px; }
.rounded-1 { border-radius: 2px; }
.rounded-2 { border-radius: 4px; }
.rounded-3 { border-radius: 8px; }
.rounded-50 { border-radius: 50%; }

@for $i from 0 through 10 
{
    .fade#{$i} 
    {
        opacity: calc($i / 10);
    }
}

.hidden { visibility: hidden; }
.hide { display: none; }