.nui-btn 
{
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    max-width: 100%;

    @include nui-btn-style-flat(fade-out(white, 1), fade-out(white, 0.995), fade-out(white, 0.99), $textColor, lighten1($textColor), lighten1($textColor));

    &:active .nui-icon 
    {
        scale: 0.92;
    }

    @each $colorName, $colorValue in $colorsAll
    {
        &.nui-btn-#{$colorName} {
            @include nui-btn-style-3d($colorValue, lighten1($colorValue), lighten2($colorValue), lighten5($white), lighten5($white), lighten5($white));
        }

        &.nui-btn-#{$colorName}-flat {
            @include nui-btn-style-flat(fade-out($colorValue, 1), fade-out($colorValue, 0.66), fade-out($colorValue, 0.2), $colorValue, lighten1($textColor), lighten1($textColor));
        }
    }

    &.flex-grow
    {
        flex-grow: 1;
    }
}

.nui-btn--multiline 
{
    .nui-btn-text 
    {
        white-space: normal;
        text-overflow: clip;
        overflow: visible;
    }
}

.nui-btn-bg 
{
    flex-direction: row;
    flex-grow: 1;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    border-width: 1px;
    border-color: transparent;

    @at-root .nui-btn-circle > &
    {
        border-radius: 50%;
    }
}

.nui-btn-text 
{
    -unity-text-align: middle-left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: $fontSize;
    flex-grow: 1;
    padding-left: 4px;
    padding-right: 4px;
}