.nui-mat-icon 
{
    -unity-font-style: normal;
    -unity-font-definition: url(../Theme/Fonts/MaterialIcons/MaterialIcons-Regular.ttf);
    -unity-text-align: middle-center;
    font-size: 18px;
    flex-shrink: 0;
}